*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-family: 'inter', 'sans-serif';
}

body{
    width: 100%;
    max-width: 588px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bt-back{
    color: red;
}

/* container item add */
#input-item{
    border-radius: 8px;
    padding: 8px;
    border: 1px solid grey;
}

